page-project-edit {
	.proj_list {
		h2 {
			font-weight: 600;
		}
		button {
			background-color: rgba(115, 228, 69, 0.29);;
			padding: 7px 20px;
			color: #fff;
			border-bottom: 0.55px solid green;
			.item-inner {
				border-bottom: 0px !important;
			}
		}
		ion-list-header {
			border-bottom: 0.55px solid green;
		}
		
	}
}
