page-video {
	.list-ios .item-block .item-inner {
    border-bottom: 0px; 
	}
	.play {
		margin-top: 12px !important;
	}
	.list_border {
		ion-item-sliding {
			background-color: transparent !important; 
			border-bottom: 2px solid transparent;
		}
		ion-item {
			background-color: rgba(115, 228, 69, 0.72);
			border-bottom: 0.55px solid #c8c7cc;
			padding: 5px 0px 5px 20px;
			h2 {
				font-weight: bold;
			}
		}
		ion-list-header {
			background-color: rgba(115, 228, 69, 0.72);
			border-bottom: 2px solid green;
			margin-bottom: 0;
			padding: 6px 16px;
			font-size: 1.2em;
			font-weight: bold;
			color: #000;
		}
		.item-inner {
			border-bottom: none !important; 
		}
	}
}
